.cover {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0 solid #000;
    opacity: 0;
    /* filter: alpha(opacity=75); */
    z-index: -1000;
    /* 过渡效果 */
    transition: all .25s;
    /* 边缘闪动问题fix */
    box-shadow: 0 0 0 100px #000;
    overflow: hidden;
}

